{% extends "base.html" %}
{% block title %}Progress – Workout Tracker{% endblock %}

{% block content %}
    <div class="row justify-content-center w-100" style="max-width: 400px;"></div>
        <!-- Info Card -->
        <div class="col-12 mb-3">
            <div class="card home-card p-4 text-center">
            <div class="fw-semibold mb-3">
                Progress page will be added in future update
            </div>
            <i class="bi bi-emoji-smile" style="font-size: 3rem; color: #1a202c;"></i>
            </div>
        </div>
        <!-- Home Button -->
        <div class="col-12">
            <a href="{{ url_for('index') }}" class="btn btn-secondary w-100 py-2">
            Home
            </a>
        </div>
    </div>
{% endblock %}