<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
    <form method="POST">
        <label><input type="checkbox" name="rpe_enabled" {% if settings.rpe_enabled %}checked{% endif %}> Enable RPE</label><br>    
        <label><input type="checkbox" name="dark_mode" {% if settings.dark_mode %}checked{% endif %}> Enable Dark Mode</label><br>
    
        <button type="submit">Save Settings</button>
    </form>    
    <a href="/"><button>Home</button></a>
</body>
</html>

